 html{
font-size:18px;
height: 100%;
width: 100vw;
font-family:Arial, Helvetica, sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    padding:10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 5px 20px;
}

h2 img{
 width: 100px;
}

.display-none,.body-img-1{
    display: none;
}
h3{
    cursor: pointer;
    font-size: 40px;
}


button{
    background-color: rgb(25,118,210);
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: navy;
}
.button{
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 12px;
}

p{
    line-height: 25px;
    color:gray ;
}
.main-1{
    display: block;
    padding: 5px 5px;
    margin: auto;
}

.body-img{
    width: 80%;
    margin: auto;
    display: block;
   
}
h1{
    text-transform: capitalize;
    font-weight: 700;
}



/* Tablets */
@media only screen and (min-height: 600px) {
  h3{
    font-size: 0px;
  }
    h2 img{
        width: 100px;
       }
}


@media only screen and (min-height: 768px) {
    main{
        padding: 10px 60px;
    }
h2,p{
    margin:20px 0;
    font-size: 1rem;
    line-height: 35px;
}
.button{
    margin:20px 0;
    padding: 10px;
}
h2 img{
    width: 300px;
   }
}
@media only screen and (min-width:820px){
 .body-img-1{
        display:flex;
    }
    h2,p,.button{
        margin:10px 0;
        font-size: 1.3rem;
        line-height: 35px;
    }
  
    main{
        padding: 0px 20px;
    }
}
    h2 img{
        width: 180px;
       }
 
    .main-1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        gap: 100px;
    }
    .body-img1{
        display: flex;
    }
    h1{
        margin-bottom: 30px;
    }
    .main-1-text{
        width: 350px;
      padding: 20px;
        font-size: 1rem;

    }
    .main-1-img{
        width: 300px;
        height: 300px;
        margin: auto;
    }
    .main-1-img img{
    width: 100%;
    height: 100%;
    }
    
    

@media screen and (min-width:1024px){
    .container{
        margin:10px 40px;
    }
    .main-1-text{
        width: 500px;
      padding: 20px;
        font-size: 1rem;

    }
    .main-1-img{
        width: 500px;
        height: 400px;
        margin: auto;
    }
    .main-1{
        margin-bottom: 10px;
    }
    .display-none{
        display: flex;
    }

   h1{
    font-size: 50px;
    
   }
   
    h3{
        display: none;
    }
    
    .nav a{
        font-size: 1.3rem;
        margin-right: 20px;
        text-decoration: none;
    }
    .nav a:hover{
        background-color:rgb(202, 196, 196);
        border-radius: 10px;
        padding: 3px;

    }

}
